body {
  margin: 0;
}

.container {
  margin: 0px 166px;
}

.header {
  background: url(https://img5.goodfon.ru/original/1366x768/e/8e/sushi-moreprodukty-ris-chernyi-fon-rice-japan-roll-sushi.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
